div.hide-for-small
  nav.top-bar(data-topbar)
    ul.title-area
      li.name
        h1
          a(href="#") DoneDone Helper
      li.toggle-topbar.menu-icon
        a(href="#")
          span Menu
    section.top-bar-section
      ul.left
        li(class=menu==="day"?"active":"")
          a(href="/day").ion-android-clock Day
        li(class=menu==="week"?"active":"")
          a(href="/week").ion-ios7-bookmarks-outline Week
        li(class=menu==="everything"?"active":"")
          a(href="/all").ion-asterisk Everything
        li(class=menu==="calendar"?"active":"")
          a(href="/clndr").ion-android-calendar Calendar
      ul.right
        li
          a(href="/logout").ion-log-out Log Out

//- And now the mobile menu
nav.show-for-small
  ul#mobile-nav.small-block-grid-5
    li(class=menu==="day"?"active":"")
      a(href="/day").ion-android-clock
        span Day
    li(class=menu==="week"?"active":"")
      a(href="/week").ion-ios7-bookmarks-outline
        span Week
    li(class=menu==="everything"?"active":"")
      a(href="/all").ion-asterisk
        span Everything
    li(class=menu==="calendar"?"active":"")
      a(href="/clndr").ion-android-calendar
        span Calendar
    li
      a(href="/logout").ion-log-out
        span Log out